@font-face {
  font-family: Sahel;
  src: url("../fonts/Sahel.eot");
  src: url("../fonts/Sahel.ttf") format("ttf"), url("../fonts/Sahel.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Nastaliq;
  src: url("../fonts/IranNastaliq.ttf");
  font-weight: normal;
}

.humberger-menu .menu, .card-overlay, .card img {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
}

.checkbox {
  opacity: 0;
}

.humberger-menu {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: 300;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 800px) {
  .humberger-menu {
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 500px) {
  .humberger-menu {
    height: 25px;
    width: 25px;
    top: 15%;
  }
}

.humberger-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.humberger-menu .menu-line {
  background-color: #d3ab55;
  width: 100%;
  height: 4px;
  -webkit-transition: all 0.5s 0.5s;
  transition: all 0.5s 0.5s;
  -webkit-transform-origin: right;
          transform-origin: right;
}

@media screen and (max-width: 800px) {
  .humberger-menu .menu-line {
    height: 3px;
  }
}

@media screen and (max-width: 500px) {
  .humberger-menu .menu-line {
    height: 2px;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d3ab55;
  font-size: 70px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  margin-right: 20px;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .logo {
    font-size: 40px;
    height: 90px;
    width: 90px;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    font-size: 30px;
    height: 70px;
    width: 70px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 20px;
    height: 50px;
    width: 50px;
  }
}

.main-name {
  font-weight: 300;
  letter-spacing: 2px;
  color: #bbb;
  font-size: 50px;
  font-family: Sahel, Tahoma;
}

@media screen and (max-width: 1000px) {
  .main-name {
    font-size: 40px;
  }
}

@media screen and (max-width: 700px) {
  .main-name {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .main-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .main-name {
    font-size: 15px;
  }
}

.sub-name {
  font-weight: 300;
  letter-spacing: 2px;
  color: #bbb;
  font-size: 18px;
  font-family: Sahel, Tahoma;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .sub-name {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .sub-name {
    font-size: 10px;
  }
}

.main-heading {
  font-family: Nastaliq, Tahoma;
  color: #d3ab55;
  font-weight: 300;
  font-size: 100px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1600px) {
  .main-heading {
    font-size: 80px;
  }
}

@media screen and (max-width: 1300px) {
  .main-heading {
    font-size: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .main-heading {
    font-size: 50px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .main-heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.sub-heading {
  font-family: Sahel, Tahoma;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 80px;
  font-size: 60px;
}

@media screen and (max-width: 1600px) {
  .sub-heading {
    font-size: 50px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 1300px) {
  .sub-heading {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .sub-heading {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .sub-heading {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.main-btn {
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  width: 170px;
  height: 45px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 1000px) {
  .main-btn {
    width: 140px;
    height: 35px;
  }
}

.main-btn:hover {
  background-color: #d3ab55;
  color: #000;
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
}

.card:hover .card-overlay {
  left: 0;
}

.card-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(211, 171, 85, 0.5);
  z-index: 10;
  -webkit-transition: left 0.8s;
  transition: left 0.8s;
}

.card-overlay-heading {
  font-family: Nastaliq, Tahoma;
  color: #fff;
  font-size: 40px;
}

@media screen and (max-width: 1000px) {
  .card-overlay-heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .card-overlay-heading {
    display: none;
  }
}

.card-overlay-paragraph {
  font-family: Sahel, Tahoma;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .card-overlay-paragraph {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .card-overlay-paragraph {
    display: none;
  }
}

.card-overlay-btn {
  width: 150px;
  height: 40px;
  color: #bbb;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 30px;
  outline: none;
  font-family: Sahel, Tahoma;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .card-overlay-btn {
    width: 120px;
    height: 30px;
  }
}

@media screen and (max-width: 500px) {
  .card-overlay-btn {
    width: 80px;
    height: 20px;
  }
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .5;
}

.navbar {
  position: relative;
  z-index: 200;
}

.navbar-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-navigation-left {
  width: 50vw;
  height: 100vh;
  background-color: #262626;
  position: fixed;
  left: -50%;
  -webkit-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}

@media screen and (max-width: 800px) {
  .navbar-navigation-left {
    display: none;
  }
}

.navbar-navigation-left .left-img {
  width: 50%;
  position: absolute;
  border-radius: 5%;
  -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 60px rgba(0, 0, 0, 0.6);
  opacity: 0.7;
}

@media screen and (max-width: 1200px) {
  .navbar-navigation-left .left-img {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .navbar-navigation-left .left-img {
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  .navbar-navigation-left .left-img {
    width: 70%;
  }
}

.navbar-navigation-left .left-img-1 {
  top: 15%;
  left: 15%;
}

@media screen and (max-width: 900px) {
  .navbar-navigation-left .left-img-1 {
    left: 10%;
  }
}

.navbar-navigation-left .left-img-2 {
  top: 35%;
  left: 25%;
}

@media screen and (max-width: 900px) {
  .navbar-navigation-left .left-img-2 {
    left: 15%;
  }
}

.navbar-navigation-left .left-img-3 {
  top: 55%;
  left: 35%;
}

@media screen and (max-width: 900px) {
  .navbar-navigation-left .left-img-3 {
    left: 25%;
  }
}

.navbar-navigation-right {
  width: 50vw;
  height: 100vh;
  background-color: #1f1d1d;
  position: fixed;
  right: -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

@media screen and (max-width: 800px) {
  .navbar-navigation-right {
    width: 100vw;
    right: -100%;
  }
}

.navbar-navigation .nav-list-item {
  list-style: none;
}

.navbar-navigation .nav-list-link {
  font-weight: 300;
  font-family: Nastaliq, Tahoma;
  font-size: 45px;
  margin: 20px;
  text-decoration: none;
  color: #bbb;
  text-align: center;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar-navigation .nav-list-link {
    font-size: 35px;
  }
}

.navbar-navigation .nav-list-link:hover {
  color: #d3ab55;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .humberger-menu .menu {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.checkbox:checked ~ .humberger-menu .menu-line-1 {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.checkbox:checked ~ .humberger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .humberger-menu .menu-line-3 {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.header {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("../images/bg.jpeg") center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../images/bg.jpeg") center no-repeat;
  background-size: cover;
  position: relative;
}

.header .header-brand {
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-banner {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 300;
  position: absolute;
  text-align: center;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .about-us {
    height: 80vh;
  }
}

@media screen and (max-width: 600px) {
  .about-us {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .about-us {
    height: 100%;
  }
}

.about-us-left {
  width: 40%;
}

@media screen and (max-width: 800px) {
  .about-us-left {
    display: none;
  }
}

.about-us-left img {
  width: 100%;
  opacity: .7;
}

.about-us-right {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1300px) {
  .about-us-right {
    padding: 0 50px;
  }
}

@media screen and (max-width: 800px) {
  .about-us-right {
    width: 100%;
  }
}

.about-us-right .main-heading {
  margin-bottom: 20px;
  font-size: 60px;
}

@media screen and (max-width: 1600px) {
  .about-us-right .main-heading {
    font-size: 80px;
  }
}

@media screen and (max-width: 1300px) {
  .about-us-right .main-heading {
    font-size: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .about-us-right .main-heading {
    font-size: 50px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .about-us-right .main-heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.about-us-right .sub-heading {
  margin-bottom: 20px;
  font-size: 40px;
}

@media screen and (max-width: 1600px) {
  .about-us-right .sub-heading {
    font-size: 50px;
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 1300px) {
  .about-us-right .sub-heading {
    font-size: 40px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .about-us-right .sub-heading {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .about-us-right .sub-heading {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.about-us-right .stars {
  margin: 30px 0;
}

@media screen and (max-width: 1000px) {
  .about-us-right .stars {
    margin: 20px 0;
  }
}

.about-us-right .stars .star {
  color: #d3ab55;
  font-size: 15px;
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .about-us-right .stars .star {
    font-size: 12px;
  }
}

.about-us-right .description {
  direction: rtl;
  font-family: Nastaliq, Tahoma;
  font-size: 25px;
  color: #bbb;
  text-align: justify;
}

@media screen and (max-width: 1300px) {
  .about-us-right .description {
    font-size: 20px;
  }
}

.about-us-right .description::first-letter {
  padding-right: 30px;
}

.gallery .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 500px) {
  .footer {
    margin: 40px 0;
  }
}

.footer-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.footer-social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .footer .social-media {
    width: 30px;
  }
}

.footer .social-media-item {
  list-style: none;
}

.footer .social-media-link {
  color: #bbb;
  font-size: 30px;
  -webkit-transition: color .7s;
  transition: color .7s;
}

@media screen and (max-width: 1000px) {
  .footer .social-media-link {
    font-size: 25px;
  }
}

.footer .social-media-link:hover {
  color: #d3ab55;
}

.footer-copyRight-paragragh {
  font-size: 20px;
  color: #bbb;
  direction: rtl;
  font-family: Sahel, Tahoma;
}

@media screen and (max-width: 800px) {
  .footer-copyRight-paragragh {
    width: 70%;
    margin: auto;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .footer-copyRight-paragragh {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */